{% extends 'base.html.twig' %}

{% block title %}
    Sign In
{% endblock %}

{% block body %}
    <div class="container">
        <div class="w-[100vw] flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-light-text dark:text-dark-text">Me connecter à mon compte</h2>
            </div>

            {% if error %}
                <div class="bg-red-400 p-5 rounded-md mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {% for message in app.flashes('success') %}
                <div class="bg-green-400 p-5 rounded-md mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form class="space-y-6" action="{{ path('app_login') }}" method="POST">
                    <div>
                        <label for="email" class="block text-sm font-medium leading-6 text-light-text dark:text-dark-text">E-mail</label>
                        <div class="mt-2">
                            <input id="email" name="email" type="email" autocomplete="email" value="{{ last_username }}" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                    <div>
                        <div class="flex items-center justify-between">
                            <label for="password" class="block text-sm font-medium leading-6 text-light-text dark:text-dark-text">Mot de passe</label>
                        </div>
                        <div class="mt-2">
                            <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-light-text shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="flex w-full justify-center rounded-md bg-blue-300
                         px-3 py-1.5 text-sm font-semibold leading-6 text-light-background shadow-sm hover:bg-light-secondary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 hover:scale-105 transition-all duration-200 ease">Me connecter</button>
                    </div>
                </form>

                <p class="mt-10 text-center text-sm text-gray-400">
                    Vous n'avez pas de compte ?
                    <a href="{{ path('app_signup') }}" class="font-semibold leading-6 text-light-text dark:text-dark-text hover:underline">Créer mon compte</a>
                </p>

            </div>
        </div>
    </div>
{% endblock %}